[Desktop Entry]
Name=GTelnet
Comment=Beautiful GNOME telnet Client
Comment[pl]=Klient telnetu, ssh i rlogin dla GNOME
Exec=gnome-telnet
Icon=gnome-telnet
Terminal=false
MultipleArgs=false
Type=Application
# vi: encoding=utf-8
